name: 'coverage'
permissions:
  pull-requests: write
  checks: write
  contents: write

on:
  pull_request:
    branches:
      - master

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ArtiomTr/jest-coverage-report-action@v2
        with:
          package-manager: yarn
          github-token: ${{ secrets.GITHUB_TOKEN }}
